* {
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: row;
}

.page-selector {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 6px;
  width: 200px;
}
.page-selector div {
  cursor: pointer;
  background-color: whitesmoke;
  padding: 10px;
}
.page-selector div:hover {
  background-color: lightsteelblue;
}

.page {
  display: flex;
  flex-direction: row;
}
.page .form {
  background-color: whitesmoke;
  margin: 6px;
  padding: 10px;
}
.page .form div {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.page .form div label {
  font-style: italic;
}
.page .form button {
  width: 100%;
}
.page .form .error-msg {
  color: firebrick;
}
.page table {
  background-color: whitesmoke;
  margin: 6px;
  padding: 10px;
}
